<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="https://rataka.cloventt.net">
                <img src="assets/images/logo-black.svg" alt="Rātaka: an amateur radio log for your browser" width="112"
                    height="28">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button" href="{{ loginUri }}" *ngIf="!authService.isAuthenticated">Login with Github <fa-icon [icon]="faGithub"></fa-icon></a>
                <a class="button" (click)="authService.logOut()" *ngIf="authService.isAuthenticated">Logout</a>
            </div>
        </div>
    </div>
</nav>