<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="https://rataka.cloventt.net">
                <img src="assets/images/logo-black.svg" alt="Rātaka: an amateur radio log for your browser" width="112"
                    height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a class="button" href="{{ loginUri }}" *ngIf="!githubService.isAuthenticated">
                            <span class="icon-text">
                                <span>Login with Github</span>
                                <span class="icon">
                                    <fa-icon [icon]="faGithub"></fa-icon>
                                </span>
                            </span>
                        </a>
                        <a class="button" (click)="githubService.logOut()"
                            *ngIf="githubService.isAuthenticated">Logout</a>
                        <a class="button is-info {{ loading ? 'is-loading' : ''}}" (click)="callSync()"
                            *ngIf="githubService.isAuthenticated">Sync</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>