<nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="https://rataka.cloventt.net">
                <img src="/assets/images/logo-black.svg" alt="Rātaka: an amateur radio log for your browser" width="112"
                    height="28">
            </a>
            <div class="navbar-item is-right">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>+</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>