<div class="table-container">

    <table class="table is-striped is-fullwidth">
        <thead>
            <th>Time</th>
            <th>Callsign</th>
            <th>Frequency</th>
            <th>Mode</th>
            <th>Power</th>
            <th>RST</th>
            <th>Notes</th>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of contacts">
                <td>{{ rowData.timestamp }}</td>
                <td>{{ rowData.callsign }} </td>
                <td>{{ rowData.frequency }}</td>
                <td>{{ rowData.mode }}</td>
                <td>{{ rowData.power }}</td>
                <td></td>
                <td>{{ rowData.notes }}</td>
            </tr>
            <tr *ngIf="!contacts.length">
                <td colspan="7" class="has-text-centered">No contacts logged yet, hit the <a class="tag is-primary" [routerLink]="[{ outlets: { modal: ['add'] } }]" routerLinkActive="active">+</a> to get started.</td>
            </tr>
        </tbody>
    </table>
</div>