<div class="panel">
    <div class="panel-block" *ngFor="let rowData of contacts">
        <a [routerLink]="['/edit', rowData.id]">
            <span class="panel-icon">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </a>
        <span class="tags">
            <span class="tag">{{ rowData.timestamp?.slice(0, 10) }}</span>
            <span class="tag is-medium"><strong>{{ rowData.callsign }}</strong></span>
            <span class="tag" *ngIf="rowData.frequency"><strong>{{ rowData.frequency }}</strong>MHz</span>
            <span class="tag" *ngIf="rowData.mode">{{ rowData.mode }}</span>
            <span class="tag is-hidden-touch" *ngIf="rowData.power">{{ rowData.power }}w</span>
            <span class="tag is-hidden-touch" *ngIf="rowData.rstReceived">TX RST: {{ rowData.rstReceived}}</span>
            <span class="tag is-hidden-touch" *ngIf="rowData.rstSent">RX RST: {{ rowData.rstSent }}</span>
        </span>
    </div>
</div>