<div class="table-container">

    <table class="table is-striped is-fullwidth">
        <thead>
            <th>Time</th>
            <th>Callsign</th>
            <th>Frequency</th>
            <th>Mode</th>
            <th>Power</th>
            <th>TX RST</th>
            <th>RX RST</th>
            <th>Notes</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of contacts">
                <td><span class="tag">{{ rowData.timestamp }}</span></td>
                <td><span class="tag"><strong>{{ rowData.callsign }}</strong></span></td>
                <td><span class="tag" *ngIf="rowData.frequency"><strong>{{ rowData.frequency }}</strong>MHz</span></td>
                <td><span class="tag" *ngIf="rowData.mode">{{ rowData.mode }}</span></td>
                <td><span class="tag" *ngIf="rowData.power">{{ rowData.power }}w</span></td>
                <td><span class="tag" *ngIf="rowData.rstReceived">{{ rowData.rstReceived }}</span></td>
                <td><span class="tag" *ngIf="rowData.rstSent">{{ rowData.rstSent }}</span></td>
                <td><span class="tag" *ngIf="rowData.notes">{{ rowData.notes }}</span></td>
                <td>
                    <a class="icon has-text-danger" (click)="deleteRow(rowData.id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            <tr *ngIf="!contacts.length">
                <td colspan="7" class="has-text-centered">No contacts logged yet, hit the <a class="tag is-primary"
                        [routerLink]="[{ outlets: { modal: ['add'] } }]" routerLinkActive="active">+</a> to get started.
                </td>
            </tr>
        </tbody>
    </table>
</div>