<div class="modal is-active" id="new-contact-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form #data="ngForm" (ngSubmit)="onSubmit(data)">
            <input class="input" type="hidden" name="id" [ngModel]="contactData?.id">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ edit ? 'Edit' : 'Add' }} contact</p>
                <button class="delete" aria-label="close" routerLink="/" routerLinkActive="active"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Contact</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="ZL3CLV" name="callsign"
                                    [ngModel]="contactData?.callsign" required>
                            </p>
                            <p class="control">
                                <a class="button is-static">
                                    on
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="text" placeholder="5" name="frequency"
                                    [ngModel]="contactData?.frequency" required>
                            </div>
                            <p class="control">
                                <a class="button is-static">
                                    MHz
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">TX</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="5" value="5" name="power"
                                    [ngModel]="contactData?.power">
                            </div>
                            <p class="control">
                                <a class="button is-static">
                                    watts
                                </a>
                            </p>
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select name="mode" [ngModel]="contactData?.mode">
                                        <option>FM</option>
                                        <option>AM</option>
                                        <option>CW</option>
                                        <option>LSB</option>
                                        <option>USB</option>
                                        <option>DMR</option>
                                        <option>YSF</option>
                                        <option>RTTY</option>
                                        <option>FST4</option>
                                        <option>FST4W</option>
                                        <option>FT4</option>
                                        <option>FT8</option>
                                        <option>JT4</option>
                                        <option>JT9</option>
                                        <option>JT65</option>
                                        <option>Q65</option>
                                        <option>MSK144</option>
                                        <option>WSPR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">RST</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    RX
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="number" placeholder="59" name="rstReceived"
                                    [ngModel]="contactData?.rstReceived">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    TX
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="number" placeholder="59" name="rstSent"
                                    [ngModel]="contactData?.rstSent">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Notes</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Jot down anything interesting" name="notes"
                                    [ngModel]="contactData?.notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Location</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Lat
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="number" placeholder="-43.000" name="latitude"
                                    [ngModel]="latitude">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Long
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="number" placeholder="172.000" name="longitude"
                                    [ngModel]="longitude">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Grid
                                </a>
                            </p>
                            <div class="control">
                                <input class="input" type="text" placeholder="RE66" name="maidenhead"
                                    [ngModel]="maidenhead">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot" style="justify-content: flex-end">
                <button *ngIf="edit" class="button is-danger is-right" (click)="delete(contactData?.id)" routerLink="/" routerLinkActive="active">Delete</button>
                <input type="submit" class="button is-success" value="Save">
            </footer>
        </form>
    </div>
</div>